/* Navigation Buttons */
.navButtons
{
    font-size: 35px;
    color:black;
    text-decoration: none;
    padding: 1%;
    font-family: 'Barlow Condensed', sans-serif;
}
/* Navigation Buttons Hover */
.navButtons:hover
{
    color:black;
    opacity: 0.85;
}

  
  /* Style the buttons */
.switchButtons:active
{
  background-color: red;
}
.switchButtons1, .switchButtons2, .switchButtons3, .switchButtons4
{
  font-size: 30px;
  text-decoration: none;
  color:black;
  padding: 5%;
}

#nat:hover
{
  background-color: #d5fdd5;
}
#por:hover
{
  background-color: #ffffa0;
}
#spo:hover
{
  background-color: #faa0a0;
}
#oth:hover
{
  background-color: #df9bff;
}
