/* Body CSS */
body
{
    margin:0;
}

/* Top Navigation Bar */
.topNav
{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width:95vw;
}
/* Title Div */
.titleDiv
{

}
/* Title Text (My Name) */
.titleText
{
    font-family: 'Aboreto', cursive;
    font-size: 250%;
}
/* Social Div */
.socialDiv
{
    display: grid;
    grid-template-columns: auto auto auto;
}
/* Instagram and Twitter together */
.insta, .twitter
{
    margin: auto;
    padding: 15px;
    margin-right: 20px;
}
.insta:hover, .twitter:hover
{
    background-color: rgba(204, 204, 204, 0.694);
    border-radius: 25%;
}
/* Instagram */
.insta
{
    transition: 1s;
}
/* Instagram Hover */
.insta:hover > svg
{
    transition: 1s;
    scale: 1.25;
}
/* Twitter */
.twitter
{
    transition: 1s;
}
/* Twitter Hover */
.twitter:hover > svg
{
    transition: 1s;
    scale: 1.25;
}
/* All the SVGs */
svg
{
    transition: 1s;
    width: 30px;
    height: 30px;
}


/* Categories */
.categories
{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

/* All Categories Styles */
.cat
{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
/* Imaages Div */
.imgDiv
{

}
/* Images for the categories */
.catImg
{
    width: 55%;
    filter: blur(2.5px);
    transition: .5s;
}
/* Hover effect on the category images */
.catImg:hover
{
    filter: blur(0);
}
/* Title of Category Div */
.catTitle
{
    position:absolute;
    margin-left: 22.5%;
    box-sizing: border-box;
}
/* Actual title of the categories */
.titles
{
    font-size: 300%;
    color:white;
    transition: .25s;
}

/* Contact Me Section */
.contactDiv
{
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
    background-color: rgba(82, 82, 82, 0.206);
    align-items: center;
}
/* Contact text */
.contactText
{

}
/* Get In Touch Text */
.GIT
{
    font-family: 'Barlow', sans-serif;
    font-family: 'Prata', serif;
    font-size: 250%;
}
/* Email and phone Div */
.infoDiv
{
    font-family: 'Barlow', sans-serif;
    font-family: 'Prata', serif;
    font-size: 140%;
}

.EmailDiv, .PNDiv
{
    display: flex;
    justify-content: center;
    margin-bottom: -45px;
    margin-top: -45px;
}
#ESVG, #PSVG
{
    position: relative;
    transform: translateY(35px);
    margin-right: 20px;
}



/* Copyright Div */
.copyright
{
    text-align: center;
}
/* Copyright Text */
.CR
{
    font-family: 'Barlow', sans-serif;
    font-family: 'DM Serif Display', serif;
}





@media screen and (max-width: 600px)
{
    .titleText
    {
        font-family: 'Aboreto', cursive;
        font-size: 200%;
    }
    .titleText
    {
        font-family: 'Aboreto', cursive;
        font-size: 175%;
    }
    .topNav
    {
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .socialDiv
    {
        display: grid;
        grid-template-columns: auto auto;
    }
    /* Instagram and Twitter together */
    .insta, .twitter
    {
        margin: auto;
        padding: 15px;
    }
    /* Instagram and Twitter */
    .insta, .twitter
    {
        transition: 1s;
    }


    .categories
    {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    
    #ports
    {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    /* All Categories Styles */
    .cat
    {
        display: flex;
        align-items: center;
    }
    /* Images for the categories */
    .catImg
    {
        width: 85%;
        filter: blur(2.5px);
        transition: .5s;
    }
    /* Title of Category Div */
    .catTitle
    {
        position:absolute;
        box-sizing: border-box;
    }
    #ppl
    {
        margin-left: 25%;
    }
    #sprts
    {
        margin-left: 35%;
    }
    /* Actual title of the categories */
    .titles
    {
        font-size: 300%;
        color:white;
        transition: .25s;
    }


    /* Contact Me Section */
    .contactDiv
    {
        display: flex;
        justify-content: space-between;
        background-color: rgba(82, 82, 82, 0.206);
        align-items: center;
        padding: 5%;
    }
    /* Contact text */
    .contactText
    {
        
    }
    /* Get In Touch Text */
    .GIT
    {
        font-family: 'Barlow', sans-serif;
        font-family: 'Prata', serif;
        font-size: 150%;
    }
    /* Email and phone Div */
    .infoDiv
    {
        font-family: 'Barlow', sans-serif;
        font-family: 'Prata', serif;
        font-size: 65%;
        padding: 5%;
    }
    
    .EmailDiv, .PNDiv
    {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #ESVG, #PSVG
    {
        position: relative;
        scale: .9;
        transform: translateY(10px);
    }
    
}